*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.divMatchesList{
    display: flex;
    justify-content: center;
    margin: 40px;
}

.divLi{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btnEditIcon{
    background-color: rgba(255, 255, 255, 0.514);
    border: none;
    border-radius: 5px;
}

.btnDeleteIcon{
    background-color: #fa4f4f;
    border: none;
    border-radius: 5px;
}

.pencilIcon{
    width: 30px;
    height: 20px;
    padding: 5px;
    
    cursor: pointer;
}

.trashIcon{
    width: 30px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
}

.divMatchesList li{
    font-size: 1.5rem;
    padding: 20px 0px;  
}

.inputAddMatch,
.inputUpdateMatch{
    border: 1px solid white;
    border-radius: 10px;
    width: 400px;
    height: 30px;
    margin: 30px 20px 0px 0px;
    padding: 10px;
    font-size: 1.2rem;
}

.btnAddMatch {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  width: 100px;
  height: 55px;
}

.btnAddMatch:hover {
  border-color: #fa4f4f;
}

.btnAddMatch:focus,
.btnAddMatch:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.editDialog{
    border: none;
    width: 30%;
    background-color: rgba(255, 232, 232, 0.979);
    color: white;
    border-radius: 10px;

    box-shadow: 0 0 1em #0000004d;

    position: relative;
    top: 25px;
    left: 650px;

    padding: 30px;
}

.editDialog::backdrop{
  background-color: rgba(0, 0, 0, 0.507);
}

.divEditIcon{
    display: flex;
    justify-content: end;
}

.iconCancelEdit{
    width: 40px;
    height: 30px;
    cursor: pointer;
    color: #fa4f4f;
}